<div>

  <%= link_to new_food_path do %>
    <button type='button' name='create_food' class'button'>
      Add food item
    </button>
  <% end %>

  <table>
    <tr>
      <th>Food</th>
      <th>Measurement Unit</th>
      <th>Unit price</th>
      <th>Actions</th>
    </tr>
    <% @user.inventories.includes(:inventory_foods).each do |inventory| %>
      <% inventory.inventory_foods.includes(:food).each do |intfood| %>
        <%= render template: 'food_shared/food', locals: { food: intfood.food } %>
      <% end %>
    <% end %>
  </table>
</div>
